# Poniższy adres używany tylko poza Dockerem.
# Wpisać http://strapi:5000 w docker-compose.yml.
STRAPI_INTERNAL_URL=http://127.0.0.1:5000
STRAPI_API_KEY=
NEXT_DOMAIN=

VULCAN_TIMETABLE_URL=
TIMETABLE_API_URL=

HTTP_BASIC_AUTH=login:password
OUTPUT= # standalone or anything else
