@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --background-accent: 0, 0%, 96%;
    --foreground: 217, 33%, 17%;

    --card: 0 0% 100%;
    --card-foreground: 217, 33%, 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 217, 33%, 17%;

    --primary: 233 97% 60%;
    --primary-foreground: 219 94% 21%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217, 33%, 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
